<launch>
    <!-- Not working due to access restrictions on RPi-->
    <arg name="record_current" default="true"/>
    <arg name="record_communication" default="true"/>

    <node pkg="rosbag" type="record" name="rosbag_record_current"
    args="record -o home/b05/rosbags/current /autopilot/current /autopilot/status /swarm/behaviour/movement" 
    if="$(arg record_current)"/>

    <node pkg="rosbag" type="record" name="rosbag_record_comms"
    args=" record -o home/b05/rosbags/comms /swarm/data/odom /swarm/data/status /swarm/com/command"
    if="$(arg record_communication)"/>

</launch>